@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Share+Tech+Mono&display=swap");

@page {
  margin: 2rem;
}

body {
  font-family: Inter, sans;
  margin: 2rem;
  font-size: 9.5pt;
  line-height: 1.5;

  @media print {
    margin: 0;
  }
}

blockquote {
  display: none;
}

h1, h2 {
  font-family: "Share Tech Mono", monospace;
  line-height: 1.25;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 0 0 0.5em;
}
h2 {
  font-size: 1.5em;
  color: #555;
  margin: 1em 0 0.75em;
  padding-bottom: 0.25em;
  border-bottom: 1px dashed #aaa;
}
ul, ol {
  margin: 0 0 1em;
  padding: 0;
}
p {
  margin: 0 0 1em;
}
a:link,
a:visited {
  color: black;
}
a img {
  border: none;
}
sup,
sub {
  line-height: 0;
}
strong {
  font-weight: 600;
}

h1 + ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    p {
      display: inline-block;
      margin: 0;
      padding: 0 0.5em;
    }

    &:not(:first-child)::before {
      content: "·";
    }
  }
}

table {
  width: 100%;
}

th {
  text-decoration: underline;
}

th, td {
  vertical-align: top;
  font-size: 82%;
  min-width: 3.5rem;

  &:not(:last-child) {
    border-right: 1px dashed #aaa;
    padding-right: 0.5rem;
  }

  &:not(:first-child) {
    padding-left: 0.5rem;
  }

  h2 + table & {
    padding-bottom: 0.5rem;
  }
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px dashed #aaa;
}